/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #EDEDED;
    --sidebar-color: #FFF;
    --primary-color: #a6d0f0;
    --primary-color-light: #ededed;
    --toggle-color: #a6d0f0;
    --text-color: #707070;
    --text-color-container:black;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: #ededed;
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --text-color-container:white;
}

/* ===== Sidebar ===== */
 .sidebar{
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex; 
    align-items: center; 
    margin-top: 10px;
}   

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}
.sidebar header .image img{
    width: 40px;
    height: 20px;
}
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .fullName{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}

body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    height: 100vh;
    width: 100%;
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

body.dark .home .text{
    color: var(--text-color);
}
.home{
    display: flex;
    flex-direction: column;
}

.home header{
    margin-top: 5px;
    height: 5%;
    display: flex;
    text-align: end;
    justify-content: space-between;
  
}
.home header .left-content img{
    width: 39px;
    height: 39px;
    opacity: 0;
}

.home{
    margin: 0px;
}
.home header .right-content .avata{
    width: 39px;
    height: 39px;
    margin-left: 15px;
    margin-top: 5px;
    border-radius: 50%;
    border: solid #3a3b3c;
    margin-right: 10px;
}
.right-content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.right-content p{
    text-align: right;
    color: var(--text-color);
    transition: var(--tran-03);
}
.right-content div .bell{
    color: var(--text-color);
    transition: var(--tran-03);
    width: 30px;
    height: 30px;
}

.sidebar{
    position: fixed;
    left: 0;
}

/*code dưới này*/
.home{
    min-height: 100vh;
    height: auto;
}
.container{
    color: var(--text-color-container);
    margin:0 22px 22px 110px;
    min-height: calc(100vh - 80px);
    user-select: none;
}
/* Phần thông tin nổi bật------------------------------------------------------------------------ */
.thong-tin-noi-bat{
    position: relative;
}
/* Chữ thông tin nổi bật */
.thong-tin-noi-bat h1{
    font-size: 30px;
}
/* Mũi tên trái */
.thong-tin-noi-bat .previous{
    font-size: 40px;
    position: absolute;
    z-index: 10;
    top:49%;
    left: 0;
    transform: translateX(-50%);
    cursor: pointer;
    color: var(--text-color);
}

.thong-tin-noi-bat .previous i{
    display: block;
}
/* Mũi tên phải */
.thong-tin-noi-bat .next{
    font-size: 40px;
    position: absolute;
    z-index: 10;
    top:49%;
    right: 0;
    transform: translateX(50%);
    cursor: pointer;
    color: var(--text-color);
}

.thong-tin-noi-bat .next i{
    display: block;
}
/* Thẻ div chứa các thông tin */
.thong-tin-noi-bat .chua-thong-tin{
    height: 270px;
    padding: 12px 0;
    overflow: hidden;
}
.thong-tin-noi-bat .chua-thong-tin .thong-tin{
    display: flex;
    height: 100%;
    transition: all 0.25s linear;
}
/* Mỗi thông tin */
.thong-tin-noi-bat .chua-thong-tin .thong-tin .item{
    height: 100%;
    background-color: var(--sidebar-color);
    border-radius: 12px;
    flex-shrink: 0;
    flex-basis: 32%;
    margin-right: 2%;
    padding: 4px 20px;
    display: flex;
    flex-direction: column;
}

/* Tiêu đề, nội dung, xem chi tiết (thông tin chi tiết và thông báo) */
.tieu-de{
    font-size: 24px;
    font-weight: 800;
}
.noi-dung{
    flex-grow: 1;
    overflow: hidden;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    text-align: justify;
}

.chi-tiet{
    text-align: right;
    color: rgb(35, 157, 233);
}
.chi-tiet span{
    cursor: pointer;
}

/* Thông báo ----------------------------------------------------------------------------- */
.thong-bao{
    padding-top: 20px;
}
.thong-bao h1{
    font-size: 30px;
}
.chua-thong-bao{
    display: flex;
    flex-direction: column;
}
.chua-thong-bao .item-thong-bao{
    height: 246px;
    background-color: var(--sidebar-color);
    margin: 12px 0;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 4px 20px;
}
.item{
    height: 50px;
}

/* sub-container----------------------------------------------------------- */
.background-sub-container{
    z-index: 101;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
.sub-container{
    width: 60%;
    height: 600px;
    background-color: var(--sidebar-color);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: auto;
    border-radius: 15px;
    color: var(--text-color-container);
}
.sub-container .close-sub-container{
    text-align: right;
    font-size: 40px;
}
.sub-container .close-sub-container i {
    display: block;
    cursor: pointer;
}.open-sub-container{
    display: block;
}
.noi-dung-sub-container{
    padding: 10px 20px;
}